<%= form_tag ({:action => 'create'}), :class => 'signin-panel' do %>
    <span class="heading">
      đăng nhập eds <br />
      <extra>đại lý</extra>
    </span>
    <div class="signin-wrap">
      <div class="signin-inputs">
        <%= text_field_tag :email, params[:email], :placeholder => 'địa chỉ email' %>
        <%= password_field_tag :password, params[:password], :placeholder => 'mật khẩu' %>
      </div>
      <div class="signin-buttons">
        <label class="checkbox">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %> Nhớ tài khoản
            <span class="right-float">
              <a href="#" data-toggle="modal"> Quên mật khẩu?</a>
            </span>
        </label>

        <button type="submit" class="signin-button">ĐĂNG NHẬP</button>
      </div>
    </div>

    <div class="registration right-float">
      Chưa có tài khoản?
      <a href="#">
        Đăng ký ngay!
      </a>
    </div>
<% end %>