<sky-select options="returnCtrl.warehouses" model="returnCtrl.currentWarehouse" color="pumpkin shadow"
            caption="name" change="returnCtrl.changeView(model)"></sky-select>
<sky-button color="shadow" ng-click="returnCtrl.selectOrder()" caption="Tạo Phiếu Trả Hàng" ></sky-button>
<div collapse="!returnCtrl.showSearchOrder">
  <div class="well well-lg" >
    Tìm:<input type="text" class="sky-control shadow" placeholder="mã phiếu order" ng-model="returnCtrl.searchText"
           typeahead="order.name for order in returnCtrl.orderSearch | filter:$viewValue | limitTo:8"
           typeahead-on-select="returnCtrl.orderFoundAction($item)"
           ng-change="returnCtrl.changeSearch()" />
    <sky-button color="shadow" ng-click="returnCtrl.createReturn()" caption="Tạo Phiếu"
                disabled="!returnCtrl.showCreateReturn"></sky-button>
    <div collapse="!returnCtrl.showCurrentOrder">
      Người Bán: {{returnCtrl.currentOrder.seller.displayName }}<br/>
      Người Mua: {{returnCtrl.currentOrder.buyer.name}}<br/>
      Tổng Giá: {{returnCtrl.currentOrder.totalPrice}}<br/>
      Giảm Giá: {{returnCtrl.currentOrder.discountCash}}<br/>
      Tổng Tính: {{returnCtrl.currentOrder.finalPrice}}<br/>
      Trạng Thái Giao Dịch: {{returnCtrl.currentOrder.status}}<br/>
      Trạng Thái Trả Hàng: {{returnCtrl.currentOrder.return}}
    </div>
   </div>
</div>
<table class="table" collapse="!returnCtrl.showCurrentOrder">
  <thead>
  <th>Mã Return</th>
  <th>Mã Order</th>
  <th>Người Tạo</th>
  <th>Số Mặt Hàng Trả</th>
  <th>Số Lượng Trả</th>
  <th>Tổng Tiền</th>
  <th>Trạng Thái</th>
  </thead>
  <tr ng-repeat="item in returnCtrl.returns">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.creatorId}}</td>
    <td>{{item.productSales}}</td>
    <td>{{item.productQuality}}</td>
    <td>{{item.totalReturnMoney}}</td>
    <td>{{item.status}}</td>
  </tr>
</table>


