sky-select {
 .btn-group {
   &.open .dropdown-toggle.btn{
     @include box-shadow(none);
     @include border-top-radius(3px);
     @include border-bottom-radius(0);
   }

   .dropdown-toggle.btn {
     min-width: 0;
     overflow: hidden;
     text-overflow: ellipsis;
     text-align: left;

     .caret {
       position: absolute;
       right: 10px;
       top: 50%;
       margin-top: -2px;
     }
   }
   .dropdown-menu {
     border-top: none;
     @include border-top-radius(0);
     @include border-bottom-radius(3px);
     @include box-shadow(none);
     padding: 0;
     margin-top: 0;
     min-width: 0;
     li {
       a {
         border-bottom: solid 1px #d3d3d3;
         overflow: hidden;
         text-overflow: ellipsis;
         padding: 3px 15px;
       }
       &:last-child a {
         border-bottom: none;
       }
       &:hover a {
         background-color: rgba(96, 96, 96, 0.18);
       }
     }
   }
 }
}

sky-tab {
  ul {
    margin: 0; padding: 0;
    li {
      background-color: #e2e2e2;
      max-width: 150px;
      display: inline-block;
      position: relative;
      border: solid 1px #c3c3c3;
      border-left: none;
      &:first-child { border-left: solid 1px #d3d3d3; }
      &.active {
        background-color: #fff;
        border-bottom: none;
        border-top: solid 1px #c3c3c3;
      }
      &:hover { background-color: #e6e6e6; }
      a {
        padding: 8px 35px 5px 12px;
        display: block;
        color: #333333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:focus { outline-style: none; -moz-outline-style:none; }
      }
      span {
        position: absolute !important;
        margin: 0 12px;
        padding: 1px 2px 2px 2px;
        right: 0; top: 9px;
        cursor: pointer;
        color: #ccc;
        &:hover {
          color: #fff;
          @include border-radius(1px);
          background-color: $pumpkin;
        }
      }
    }
    .new-button {
      background-color: #fff;
      border: solid 1px #d8d8d8;
      border-left: none;
      margin-left: -3px;
      a { padding: 8px 22px 5px 12px; }
      &:hover {
        background: rgba(255,255,255,0.2);
        span {
          color: #333;
          background-color: transparent;
        }
      }
    }
  }
}